<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<p th:text="${person.getFullName()+', '+person.getYearOfBirth()}"/>

<div th:if="${takenBooks.isEmpty()}">
    <p th:text="${person.getFullName()}+' has not taken any books yet'"/>
</div>

<div th:unless="${takenBooks.isEmpty()}">
    <hr/>
    <p>Books:</p>
    <table th:each="book : ${takenBooks}">
        <tr th:style="${book.getGreaterThanExpiredDeadline()} ? 'color:red'">
            <td th:text="${book.getTitle()+', '+book.getAuthor()+', '+book.getYear()}"></td>
        </tr>
    </table>
</div>

<hr/>
<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Edit"/>
</form>
</br>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>